*{
    margin: 0;
    padding: 0;
}
header{
    background: black;
    color: antiquewhite;
    height: 62px;
    border: 2px solid red;
}
.content{
    height: 90vh;
    background: grey;
    margin: 12px;
}
footer{
    background: lightgray;
    text-align: center;
}