*{
    margin: 0;
    padding: 0;
}
ul{
    background-color: darkblue;
    color: aliceblue;
}
.main{
    background-color: red;
}
.b-img{
    background-image: url("https://images.unsplash.com/photo-1651012998667-2c779fee76f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
    background-size: 100%;
    width: 800px;
    height: 480px;
}