*{
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    font-size: 2vw;
}
header{
    background-color: black;
    color: white;
    padding: 15px;
    position: sticky;
    /* Position at which it is sticking is top:0 */
    top: 0; 
}
.container{
    height: 3444px;
    background-color: brown;
}